#first,#second {
    position: relative;
}
#body {
    background-color: #a2a8d3;
}
.square {
    border:1px slategray;
    position: absolute;
    display: inline-block;
}

.pic1 {
    width: 600px;
    height: 540px;
    z-index: 2;
    background-image: url(assets/jhin.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 55px;
    top: 65px;
}

.fade1 {
    width: 600px;
    height: 400px;
    z-index: 1;
    background: linear-gradient(#2c3e50,#fd746c);
    left: 90px;
    top: 95px;
}

.pic2 {
    width: 500px;
    height: 420px;
    z-index: 2;
    background-image: url(assets/ekko.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 780px;
    top: 220px;
}
.fade2{
    width: 480px;
    height: 330px;
    z-index: 1;
    background: linear-gradient(#020024,#790909,#00d4ff);
    left: 820px;
    top: 250px;
}

.content {
    width: 500px;
    height: 350px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: 800px;
    top: 65px;
}

.last {
    width: 400px;
    height: 180px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    display: inline-block;
    position: relative;
    left: 55px;
    top: 250px;
}

.last > .button {
    width: 160px;
    height: 40px;
    border-radius: 45%;
    background-color:cadetblue;
    text-decoration: none;
    list-style: none;
    
}

.last > .button>a {

    text-decoration: none;
    list-style: none;
    color: #790909;
    font-size: medium;
    
}
.box {
    top:0;
    height: 0px;
    width: 500px;
    display: inline-block;
    position: relative;
    left: 970px;
}
.move {
    top: 0;
    width: 450px;
    height: 340px;
    position: sticky;
    display: inline-block;
    background-image: url(assets/reus.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 1400px;
}

.fill {
    display: block;
    width: 100%;
    height:900px;
}

