.div1 {
    width: 320px;
    height: 320px;
    border-color: azure;
    border-style: dashed;
    border-width: 2px;
    background-color: cadetblue;
    display: inline-block;
    margin-left: 45px;
    padding: 10px 20px;
}

.div1 >.content1 {
    background: #E78EA9;
    display: inline-block;
    height: 100%;
    width: 100%;
}


.div2{
    width: 150px;
    height: 300px;
    border: 2px solid ;
    background-color: brown;
    display: inline-block;
    padding: 40px;
    margin-left: 40px;
}

.div2 >.content2 {
    display: inline-block;
    width: 100%;
    height: 100%;
    background:darkcyan;
    border-radius: 100%;
}

.container2 {
    display: inline-block;
    margin: 50px 30px 30px;
}

.div3 {
    margin-left: 40px;
    display: inline-block;
    width: 400px;
    height: 300px;
    border: 2px dashed black;
    padding: 40px;
    background-color: burlywood;
}

.div3 >.content3 {
    background: chartreuse;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 100%;
}